{% extends "base.html.twig" %}
{% block content %}
<center>
    <div style="margin-bottom: 50px; margin-top: 40px">
    <h1 style="margin-bottom: 20px"> Liste des abonnements</h1>
    <table border="1">
        <tr>
            <th>N_carteMembre</th>
            <th>nom</th>
            <th>prenom</th>
            <th>duree_abonnement</th>
            <th>pack</th>
            <th>mode_paiement</th>
            <th>validite</th>
            <th align="center" colspan="2">Action</th>
        </tr>

        {% for m in abonnement %}
            <tr>
                <td>{{ m.nCartemembre }}</td>
                <td>{{ m.nom }}</td>
                <td>{{ m.prenom }}</td>
                <td>{{ m.dureeAbonnement }}</td>
                <td>{{ m.pack }}</td>
                <td>{{ m.modePaiement }}</td>
                <td>{{ m.validite }}</td>
                <td><a class="btn btn-dark" href="{{ path('update',{'nCartemembre':m.nCartemembre}) }} ">Modifier</a></td>
                <td><a class="btn btn-danger" href="{{ path('delete',{'nCartemembre':m.nCartemembre}) }} ">Supprimer</a></td>
            </tr>
        {%endfor %}
    </table>
    </div>
</center>
{% endblock %}